.home{
    max-width: 1500px;
    margin: 0 auto;
}
.home_img{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    height: 400px;
    margin-bottom: -150px;
    z-index: -1;
   
}

.home_row{
    display: flex;
    z-index: 1;
    margin: 0 5px;
}